{% extends 'store/base_header.html' %} {% block content%}
<div class="text-center container mb-5">
  <div class="card-header">
    <h2>About</h2>
  </div>
  <br />
  <br />
  <br />
  <div class="card-body d-flex justify-content-center">
    <p class="card-text about-text col-8">
      The main goal of our market is to make connection between people and
      traders, to make these connections easy we will establish a website that
      allow the people and traders to register in this website and the traders
      will display his products and people will be able to buy the products with
      lowest price.We are working 7/24 to expand our catalogue with more
      products
    </p>
  </div>
  <div class="container">
    <h6>
      want to become a seller?
      <a href="/seller_login" class="link">Signup</a> here!
    </h6>
  </div>
</div>
<br />

{% include 'store/base_footer.html'%}{% endblock %}
