<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script
        src="https://kit.fontawesome.com/27d8b168ea.js"
        crossorigin="anonymous"
    ></script>
    <!-- CSS only -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/styles.css' %}" />
</head>
<body>
    <header>
        <div class="bignav sticky-top">
            <!-- Jumbotron -->
            <div class="p-3 text-center bg-white border-bottom jumb sticky-top">
            <div class="container">
                <div class="row">
                <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                    <a href="/" class="ms-md-2">
                        <h1><i class="fas fa-h1 text-success"> MyStore</i></h1>
                    </a>
                </div>
        
                <div class="col-md-4">
                    <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
                    <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search" />
                    <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
                    </form>
                </div>
        
                <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
                    <div class="d-flex">
                    <!-- Cart -->
                    <a class="text-reset me-3" href="#">
                        <span><i class="fas fa-shopping-cart"></i></span>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <!-- User -->
                    <div class="dropdown">
                        <a  href="#"><p>Log in</p>
                        </a>
                        
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <!-- Jumbotron -->
        
            <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
            <!-- Container wrapper -->
            <div class="container justify-content-center justify-content-md-between">
                <!-- Left links -->
                <ul class="navbar-nav flex-row">
                <li class="nav-item me-2 me-lg-0">
                    <a class="nav-link" href="#" role="button" data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1"
                    class="btn shadow-0 p-0 me-3" aria-controls="#sidenav-1" aria-haspopup="true">
                    <i class="fas fa-bars me-1"></i>
                    <span>Categories</span>
                    </a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link" href="#">Bestsellers</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link" href="#">Inspirations</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                </ul>
                <!-- Left links -->
        
                <button class="btn btn-outline-primary" data-mdb-ripple-color="dark" type="button">
                Download app<i class="fas fa-download ms-2"></i>
                </button>
            </div>
            <!-- Container wrapper -->
            </nav>
        </div>
        <section class="h-100 bg-light">
                <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                            <div class="p-5">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                <h6 class="mb-0 text-muted"> items</h6>
                                </div>
                                <hr class="my-4">
                                <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img
                                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img7.webp"
                                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <h6 class="text-muted">Shirt</h6>
                                    <h6 class="text-black mb-0">Cotton T-shirt</h6>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <input type="number" name="item_quantity"  class="w-100">
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h6 class="mb-0">€ 44.00</h6>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                </div>
                                </div>
            
                                <hr class="my-4">
            
                            </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                            <div class="p-5">
                                <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                <hr class="my-4">
            
                                <div class="d-flex justify-content-between mb-4">
                                <h5 class="text-uppercase">items </h5>
                                <h5></h5>
                                </div>
            
                                <h5 class="text-uppercase mb-3">Shipping</h5>
            
                                <div class="mb-4 pb-2">
                                <select class="select">
                                    <option value="1">Standard-Delivery- €5.00</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four</option>
                                </select>
                                </div>
                                <hr class="my-4">
                                <div class="d-flex justify-content-between mb-5">
                                <h5 class="text-uppercase">Total price</h5>
                                <h5>€ </h5>
                                </div>
                                <button type="button" class="btn btn-dark btn-block btn-lg"
                                data-mdb-ripple-color="dark">Buy</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </section>
    </body>
    </html>