{% extends 'store/base_header.html' %} {% block content%}
<section class="h-100 bg-light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{items_in_cart}} items</h6>
                  </div>
                  <hr class="my-4" />
                  {% for product_id,val in cart.items %}

                  <div
                    class="row mb-4 d-flex justify-content-between align-items-center"
                  >
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img7.webp"
                        class="img-fluid rounded-3"
                        alt="Cotton T-shirt"
                      />
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">$</h6>
                      <h6 class="text-black mb-0">Cotton T-shirt</h6>
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <input
                        type="number"
                        min="1"
                        name="quantity"
                        class="w-100"
                      />
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{val.price}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a
                        href="/cart_item_clear/{{product.product_id}}"
                        class="text-muted"
                        ><i class="fas fa-times"></i
                      ></a>
                    </div>
                  </div>
                  <hr class="my-4" />
                  {% endfor %}
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items</h5>
                    <h5></h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Urgent- $10</option>
                      <option value="3">Free 1-2H</option>
                    </select>
                  </div>
                  <hr class="my-4" />
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">€{{total}}</h5>
                  </div>
                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark"
                  >
                    <form action="/place_order" method="POST">Buy</form>
                  </button>
                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark"
                  >
                    <a
                      href="/cart_cart_clear"
                      style="color: #fff; text-decoration: none"
                      >Clear All</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%include 'store/base_footer.html'%} {% endblock %}
