{% extends 'store/base_header.html' %} {% block content%}
<div class="container-md main_banner">
  <div
    id="banner"
    class="bg-image shadow-lg rounded"
    style="
      background-image: url('../../static/store/imgs/main.png');
      height: 500px;
    "
  >
    <div class="mask text-white">
      <div class="container d-flex justify-content-center text-center p-5">
        <div class="text-white align-items-end my-5">
          <h1 class="mb-3 text-success">Autumn sale</h1>
          <h4 class="mb-4 text-success">Promotions up to 70%!</h4>
          <a class="btn btn-outline-success btn-lg mb-3" href="#!" role="button"
            >See the promotional offer
            <i class="fas fa-gem ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top Seller Caraousal -->
<h1 class="container text-center mt-5 form_header">Top Sellers:</h1>
<div class="container">
  <div class="row">
    <div
      class="MultiCarousel"
      data-items="1,2,3,4"
      data-slide="2"
      id="MultiCarousel"
      data-interval="1000"
    >
      <div class="MultiCarousel-inner">
        {% for seller in sellers %}
        <a class="item text-decoration-none" href="/seller/{{seller.id}}">
          <div class="card pad15" href="/seller">
            <img
              class="img-fluid"
              alt="100%x280"
              src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;=10w80&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
            />
            <div class="card-body text-center">
              <h4 class="card-title">{{seller.name}}</h4>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <button class="btn btn-success leftLst">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
      <button class="btn btn-success rightLst">></button>
    </div>
  </div>
</div>

<!-- Top Products Caraousal -->
<h1 class="container text-center mt-5 form_header">Top Products:</h1>
<div class="container">
  <div class="row">
    <div
      class="MultiCarousel"
      data-items="1,2,3,4"
      data-slide="2"
      id="MultiCarousel"
      data-interval="1000"
    >
      <div class="MultiCarousel-inner">
        {% for product in products %}
        <div class="item text-decoration-none" href="/seller">
          <div class="card pad15" href="/seller">
            <img
              class="img-fluid"
              alt="100%x280"
              src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;=10w80&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
            />
            <div class="card-body text-center">
              <h4 class="card-title">{{product.name}}</h4>
              <p class="card-text">{{product.price}} $</p>
              <a href="/view_product/{{product.id}}" class="btn btn-warning"
                >Buy</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="btn btn-success leftLst"><</button>
      <button class="btn btn-success rightLst">></button>
    </div>
  </div>
</div>

<!-- Rotating Cards -->
<div class="container d-flex justify-content-around">
  <div class="row col-12 d-flex justify-content-around">
    <div class="top_product card col-6 container">
      <div
        class="card-side front top_product_front text-center d-flex align-items-center justify-content-center"
      >
        <h2>Anouncment!!!</h2>
      </div>
      <div class="card-side back top_product_back text-center">
        <h2>New branch coming soon! can you guess where is it???</h2>
        {%load static%}
        <img
          class="img-fluid max-width: 100%; height: auto; rounded-circle"
          src="{% static 'store/imgs/map.jpg' %}"
          alt="Location symbol"
        />
      </div>
    </div>

    <div class="top_product card col-6">
      <div
        class="card-side front top_product_front text-center d-flex align-items-center justify-content-center"
      >
        <h2>Coming Soon!!!</h2>
      </div>
      <div class="card-side back top_product_back text-center">
        <h2>Get ready for our upcoming surprises!!!</h2>
        <img
          class="img-fluid max-width: 100%; height: auto; rounded-circle"
          src="../../static/store/imgs/black_small.png"
          alt="Black Friday"
        />
      </div>
    </div>
  </div>
</div>

{% include 'store/base_footer.html'%}{% endblock %}
