{% extends 'store/base_header.html' %} {%load static%} {% block content%}
<h1 class="container text-center mt-8 form_header">Bestsellers:</h1>
<div class="-md d-flex bg-light rounded container flex-wrap">
  {% for seller in sellers %}
  <div class="col-12">
    <h3 class="mb-3 mt-5">{{seller.name }}:</h3>
  </div>
  {% for product in seller.product.all %}
  <div class="card3 col-2">
    <img
      src="{% static 'store/imgs/default_product.png' %}"
      class="card-img-top"
      alt="{{item.name}}"
    />
    <!-- {{ product.image }}  -->
    <div class="card-body text-center">
      <h5 class="card-title text-center .text-nowrap">{{product.name}}</h5>
      <h5 class="card-title text-center .text-nowrap">{{product.price}}</h5>
      <form action="/add_to_cart" method="POST" class="form d-flex flex-column">
        <input class="btn btn-warning" type="submit" value="buy" />
      </form>
    </div>
  </div>
  {%endfor%}
  <br /><br />
  {%endfor%}
</div>

{%include 'store/base_footer.html'%} {% endblock %}
