body {
  background: #eee;
}
.navbar-nav {
  font-size: 1.5rem;
}
.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: rgb(228, 215, 215);
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #30a512;
  transform: scaleY(0);
  transition: all 0.5s;
}

.fonts {
  font-size: 0.85rem;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #30a512;
  font-size: 19px;
}

.buttons button:nth-child(1) {
  border: 1px solid #30a512;
  color: #30a512;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #30a512;
  color: #fff;
  height: 40px;
  background-color: #30a512;
}

.buttons button:nth-child(2) {
  border: 1px solid #30a512;
  background-color: #30a512;
  color: #fff;
  height: 40px;
}

.header_products {
  color: #30a512;
  font-family: cursive;
  text-decoration: underline;
}

.contacts a {
  margin-top: 1.5rem;
  font-size: 4rem;
  color: black;
}
.upload_file_input {
  margin-left: 10px;
  border: 1px solid #ced4da;
  width: 30%;
  height: 40px;
}

input[type="file"] {
  display: none;
  cursor: pointer;
}
i {
  cursor: pointer;
}
.custom-file-upload {
  border: 1px solid #ced4da;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.form_select {
  border-color: #ced4da;
}

.form_label,
.form_span,
.form_select {
  min-width: 110px;
}

body {
  background: #eee;
}

.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: rgb(228, 215, 215);
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #30a512;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.upload_file_input {
  margin-left: 10px;
  border: 1px solid #ced4da;
  width: 30%;
  height: 40px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ced4da;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
}

.form_select {
  border-color: #ced4da;
}

.form_label,
.form_span,
.form_select {
  min-width: 110px;
}

body {
  background: #eee;
}

.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: rgb(228, 215, 215);
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #30a512;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:hover::after {
  transform: scaleY(1);
}
